.App {
  padding: 20px;
}

.buttonItem {
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}


.button {
  width: 30%;
  height: fit-content;
  min-height: 50px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  background: linear-gradient(90deg, rgba(151,43,193,1) 0%, rgba(62,20,168,1) 72%);
  color: #fff;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
  }

  &:active {
    transform: translateX(1px);
  }
}